Django>=4.0.2
djangorestframework==3.13.1
psycopg2-binary==2.9.3
gunicorn==20.1.0
django-cors-headers==3.11.0
ghasedak==0.1.9
requests==2.27.1
django-jalali==5.0.0
django-jalali-date==1.0.1
zeep==4.1.0