{% load static %}
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->

<!--begin::Page Vendors Styles(used by this page)-->
<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css' %}" rel="stylesheet'"
      type="text/css"/>
<!--end::Page Vendors Styles-->


<!--begin::Global تم Styles(used by all pages)-->
<link href="{% static 'plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Global تم Styles-->

<!--begin::چیدمان تم ها(used by all pages)-->

<link href="{% static 'css/themes/layout/header/base/light.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'css/themes/layout/header/menu/light.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'css/themes/layout/brand/dark.rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/themes/layout/aside/dark.rtl.css' %}" rel="stylesheet" type="text/css"/>
<!--end::چیدمان تم ها-->

<link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}"/>