{% extends 'base/_Base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% with request.resolver_match.url_name as url_name %}
        {% if url_name == 'create' %}
            برند | ایجاد دپارتمان
        {% else %}
            برند | ویرایش دپارتمان
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-body p-0">
                        <div class="wizard wizard-1" id="kt_projects_add" data-wizard-state="first"
                             data-wizard-clickable="true">
                            <div class="kt-grid__item">
                                <!--begin::ویزارد Nav-->
                                <div class="wizard-nav border-bottom">
                                    <div class="wizard-steps p-8 p-lg-10">
                                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                            <div class="wizard-label">
								<span class="svg-icon svg-icon-4x wizard-icon"><!--begin::Svg Icon | path:assets/media/svg/icons/ارتباطات/چت-check.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"></rect>
        <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z"
              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
        <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z"
              fill="#000000"></path>
    </g>
</svg><!--end::Svg Icon--></span>
                                                <h3 class="wizard-title">جزئیات دپارتمان</h3>
                                            </div>
                                            <span class="svg-icon svg-icon-xl wizard-arrow"><!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg--><svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"></polygon>
        <rect fill="#000000" opacity="0.3"
              transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11"
              y="5" width="2" height="14" rx="1"></rect>
        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
              fill="#000000" fill-rule="nonzero"
              transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
    </g>
</svg><!--end::Svg Icon--></span></div>
                                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                            <div class="wizard-label">
								<span class="svg-icon svg-icon-4x wizard-icon"><!--begin::Svg Icon | path:assets/media/svg/icons/general/اطلاع2.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"></rect>
        <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z"
              fill="#000000"></path>
        <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"></circle>
    </g>
</svg><!--end::Svg Icon--></span>
                                                <h3 class="wizard-title">بررسی و ارسال کنید</h3>
                                            </div>
                                            <span class="svg-icon svg-icon-xl wizard-arrow last"><!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg--><svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"></polygon>
        <rect fill="#000000" opacity="0.3"
              transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11"
              y="5" width="2" height="14" rx="1"></rect>
        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
              fill="#000000" fill-rule="nonzero"
              transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
    </g>
</svg><!--end::Svg Icon--></span></div>
                                    </div>
                                </div>
                                <!--end::ویزارد Nav-->
                            </div>
                            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                                <div class="col-xl-12 col-xxl-7">
                                    <!--begin::Form ویزارد-->
                                    <form class="form fv-plugins-bootstrap fv-plugins-framework"
                                          id="kt_projects_add_form"
                                          method="post">
                                        {% csrf_token %}
                                        <!--begin::گام 1-->
                                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <h3 class="mb-10 font-weight-bold text-dark">جزئیات دپارتمان:</h3>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="form-group row fv-plugins-icon-container">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">نام
                                                            دپارتمان</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            {{ form.name }}
                                                            <div class="fv-plugins-message-container"></div>
                                                            {% if form.name.errors %}
                                                                <div class="text-danger">{{ form.name.errors }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row fv-plugins-icon-container">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">توضیحات
                                                            دپارتمان</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            {{ form.description }}
                                                            <div class="fv-plugins-message-container"></div>
                                                            {% if form.discription.errors %}
                                                                <div class="text-danger">{{ form.discription.errors }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row fv-plugins-icon-container">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">کاربران
                                                            ارشد</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            {{ form.staff_users }}
                                                            <div class="fv-plugins-message-container">برای داشتن چند
                                                                انتخاب کنترل را نگهدارید
                                                            </div>
                                                            {% if form.staff_users.errors %}
                                                                <div class="text-danger">{{ form.staff_users.errors }}</div>
                                                            {% endif %}
                                                            {% if form.non_field_errors %}
                                                                <div class="text-danger">{{ form.non_field_errors }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::گام 1-->

                                        <div class="pb-5" data-wizard-type="step-content">
                                            {% if url_name == 'create' %}
                                                <h4 class="mb-10 font-weight-bold">از ایجاد این دپارتمان اطمینان
                                                    دارید؟</h4>
                                            {% else %}
                                                <h4 class="mb-10 font-weight-bold">از ویرایش این دپارتمان اطمینان
                                                    دارید؟</h4>
                                            {% endif %}
                                        </div>
                                        <!--end::گام 4-->

                                        <!--begin::اقدامات-->
                                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                            <div class="mr-2">
                                                <button type="button"
                                                        class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                                                        data-wizard-type="action-prev">
                                                    قبلی
                                                </button>
                                            </div>
                                            <div>
                                                {% if url_name == 'create' %}
                                                    <button type="submit"
                                                            class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                                            data-wizard-type="action-submit">
                                                        ایجاد
                                                    </button>
                                                {% else %}
                                                    <button type="submit"
                                                            class="btn btn-warning font-weight-bold text-uppercase px-9 py-4"
                                                            data-wizard-type="action-submit">
                                                        ویرایش
                                                    </button>
                                                {% endif %}
                                                <button type="button"
                                                        class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                                                        data-wizard-type="action-next">
                                                    گام بعد
                                                </button>
                                            </div>
                                        </div>
                                        <!--end::اقدامات-->
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </form>
                                    <!--end::Form ویزارد-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
    {% endwith %}
{% endblock %}

{% block new_css_code %}
    <link href="{% static 'css/pages/wizard/wizard-1.rtl.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block new_js_code %}
    <script src="{% static 'js/pages/custom/projects/add-project.js' %}"></script>
{% endblock %}
