{% extends 'base/_Base.html' %}
{% load static %}

{% block title %}
    برند | ویرایش پروفایل
{% endblock %}

{% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::پروفایل بررسی-->
                <div class="d-flex flex-row">
                    <!--begin::Aside-->
                    {% include 'registration/profile/profile_aside_component.html' %}
                    <!--end::Aside-->

                    <!--begin::Content-->
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Card-->
                        <div class="card card-custom">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">اطلاعات حساب</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">تنظیمات حساب خود را تغییر دهید</span>
                                </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Form-->
                            <form class="form" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <!--begin::Heading-->
                                    <div class="row">
                                        <label class="col-xl-3"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <h5 class="font-weight-bold mb-6">اکانت:</h5>
                                        </div>
                                    </div>
                                    <!--begin::Form گروه-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">نام کاربری</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.username }}
                                        </div>
                                    </div>

                                    {% if form.username.errors %}
                                        <!--begin::Form گروه-->
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                <p>{{ form.username.errors }}</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!--begin::Form گروه-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">ایمیل</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="la la-at"></i></span></div>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                    </div>

                                    <!--begin::Form گروه-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">نام</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.first_name }}
                                        </div>
                                    </div>

                                    <!--begin::Form گروه-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">نام خانوادگی</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.last_name }}
                                        </div>
                                    </div>

                                    <!--begin::Form گروه-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">بیوگرافی</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.bio }}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <button class="btn btn-light-primary font-weight-bold">ویرایش
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::پروفایل بررسی-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
{% endblock %}