{% extends 'base/_Base.html' %}
{% load static %}

{% block title %}
    برند | تغییر رمز عبور
{% endblock %}

{% block content %}
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::پروفایل بررسی-->
                <div class="d-flex flex-row">
                    <!--begin::Aside-->
                    {% include 'registration/profile/profile_aside_component.html' %}
                    <!--end::Aside-->
                    <!--begin::Content-->
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Card-->
                        <div class="card card-custom">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">تغییر رمز عبور</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">تغییر رمز عبور</span>
                                </div>
                            </div>
                            <!--end::Header-->

                            <!--begin::Form-->
                            <form class="form" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <!--begin::Alert-->
                                    <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
                                        <div class="alert-icon">
                            <span class="svg-icon svg-icon-3x svg-icon-danger"><!--begin::Svg Icon | path:assets/media/svg/icons/کد/اطلاعات-circle.svg--><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"></rect>
        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
        <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
        <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
    </g>
</svg><!--end::Svg Icon--></span></div>
                                        <div class="alert-text font-weight-bold">
                                            سعی کنید بصورت دوره ای رمز اکانت های خودرا تغییر دهید!
                                        </div>
                                        <div class="alert-close">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="نزدیک">
                                                <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                    <!--end::Alert-->
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">
                                            رمز عبور فعلی
                                        </label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.old_password }}
                                        </div>
                                    </div>

                                    {% if form.old_password.errors %}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">عبور</label>
                                            <div class="col-lg-9 col-xl-6">
                                                {{ form.old_password.errors }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.non_field_errors %}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">عبور</label>
                                            <div class="col-lg-9 col-xl-6">
                                                {{ form.non_field_errors }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">رمز عبور جدید</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>

                                    {% if form.new_password1.errors %}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">عبور</label>
                                            <div class="col-lg-9 col-xl-6">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">تأیید رمز
                                            عبور</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.new_password2 }}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">قوانین رمز
                                            عبور</label>
                                        <div class="col-lg-9 col-xl-6 text-danger">
                                            {{ form.new_password1.help_text }}
                                        </div>
                                    </div>

                                    {% if form.new_password2.errors %}
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">عبور</label>
                                            <div class="col-lg-9 col-xl-6">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <button class="btn btn-light-primary font-weight-bold">تغییر کلمه عبور
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::پروفایل بررسی-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
{% endblock %}